<mat-toolbar *ngIf="successMsg" color="accent">{{successMsg}}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{errorMsg}}</mat-toolbar>

<div class="form-container">
    <form (submit)="createAppointment()">
        <mat-form-field>
            <input
                [(ngModel)]="name"
                name="name"
                matInput
                placeholder="Name"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                [(ngModel)]="email"
                name="email"
                matInput
                placeholder="em"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                [(ngModel)]="name"
                name="name"
                matInput
                placeholder="Name"
            />
        </mat-form-field>
    </form>
</div>